.header {
    width: 100%;
    height: 100px;
    background-color: $color-indigo;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $font-size-lg;
    color: $color-orange;

    p {
        margin-left: 25px;
    }
}