//colors

$color-indigo: #083D77;
$color-beige: #EBEBD3;
$color-cerise: #DA4167;
$color-yellow: #F4D35E;
$color-orange: #F78764;

//font size
$font-size-sm: 14px;
$font-size-md: 20px;
$font-size-lg: 28px;
$font-size-xlg: 36px;